<html>



<head>


    <link rel="stylesheet" href="index.css">

</head>




<body>





    <main class="main-content">

        <div class="lowerheader">

            <img src="./img/cuhand.png">
            <h3> Cu Solutions </h3>
        </div>

       <div class="nav-bar">

            <li><a href="index.html">Find a Doctor </a><li>
           <li><a href="index.html"> Location & Directions </a><li></li>
           <li><a href="index.html"> Other Resources </a><li>
       </div> 
    
        <div class="headtolink"> 
        
        <section class="overview">
            <div class="blue-background"


            <header class="header">

                <h1 id="head"> Chronic Urticaria (Chronic Idiopatic Urticaria) </h1>
        
            </header>

                <br>
                <p> Chronic urticaria, also known as chronic hives, is a condition characterized by the presence of itchy, raised welts on the skin that persist for six weeks or longer. These welts, or hives, can appear anywhere on the body and may vary in size and shape. The exact cause of chronic urticaria is often unknown, but it can be triggered by a variety of factors, including

                </p>
             <div> 

  



        </section>

    </div>


    <div class="allinks"

        <section class="quick-links">

            <div class="links">

              <section id="overview"      
                
                <!--Remeber to connect to jump thing -->
            <a href="#overview"> Overview    

            </div>

            <section class="quick-links">

                <div class="links">
    
                  <section id="symptoms-causes"      
                    
                    <!--Remeber to connect to jump thing -->
                <a href="#symptomscauses"> Symptoms and Causes
    
                </div>

<div>

        </section>        



        <div class="overview2">
                <!-- id to make title not the same as other h1's-->
            <h1 id="overview">Overview</h1>
        </div>






    </main>










<footer class="footer">



</footer>



</body>




</html>